In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import parallel_coordinates
from IPython.display import display


# warnings -> to silence warnings
import warnings
warnings.filterwarnings("ignore")
dataset = pd.read_excel('../data/dataset_final.xlsx', engine='openpyxl')
display(dataset)
dataset_filtered = pd.read_excel('../data/dataset_filtered.xlsx', engine='openpyxl')
display(dataset_filtered)

,PazienteID,Data,age,Etagest,Day_In_Hospital,Peso,daily_weight_diff,Etages_flag,Peso_flag,Peso_etr_flag,...,np_protkg3,np_lipkg1,np_lipkg2,np_lipkg3,np_chokg1,np_chokg2,np_chokg3,ne_calkg1,ne_calkg2,ne_calkg3
0,ab-1,2022-11-22,3,32.4,1,1.935,0.000,1,3,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,ab-1,2022-11-23,4,32.4,2,1.810,-0.125,1,3,3,...,0.000000,1.715773,0.000000,0.000000,10.723515,0.000000,0.000000,0.000000,0.000000,0.000000
2,ab-1,2022-11-24,5,32.4,3,1.820,0.010,1,3,3,...,0.000000,1.834266,1.715773,0.000000,11.049724,10.723515,0.000000,0.000000,0.000000,0.000000
3,ab-1,2022-11-25,6,32.4,4,1.835,0.015,1,3,3,...,2.502153,1.876975,1.834266,1.715773,11.730769,11.049724,10.723515,0.000000,0.000000,0.000000
4,ab-1,2022-11-26,7,32.4,5,1.835,0.000,1,3,3,...,3.248619,2.083981,1.876975,1.834266,13.024523,11.730769,11.049724,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18328,ZO-1133,2013-07-19,14,29.0,14,1.660,-0.002,1,2,1,...,3.477379,1.780829,2.041287,2.045517,11.131167,12.826087,12.852665,19.951866,0.000000,0.000000
18329,ZO-1133,2013-07-20,15,29.0,15,1.660,0.000,1,2,1,...,3.470188,1.450474,1.780829,2.041287,9.066265,11.131167,12.826087,39.951809,19.951866,0.000000
18330,ZO-1133,2013-07-21,16,29.0,16,1.680,0.020,1,2,1,...,2.597208,1.190256,1.450474,1.780829,7.439759,9.066265,11.131167,54.933735,39.951809,19.951866
18331,ZO-1133,2013-07-22,17,29.0,17,1.760,0.080,1,2,1,...,2.115409,0.933251,1.190256,1.450474,5.833333,7.439759,9.066265,74.017860,54.933735,39.951809
18332,ZO-1133,2013-07-23,18,29.0,18,1.850,0.090,1,3,1,...,1.735901,0.843214,0.933251,1.190256,4.687500,5.833333,7.439759,84.784096,74.017860,54.933735

,PazienteID,Data,age,Etagest,Day_In_Hospital,Peso,daily_weight_diff,Etages_flag,Peso_flag,Peso_etr,...,np_protkg3,np_lipkg1,np_lipkg2,np_lipkg3,np_chokg1,np_chokg2,np_chokg3,ne_calkg1,ne_calkg2,ne_calkg3
0,ab-1,2022-11-22,3,32.4,1,1.935,0.000,1,3,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,ab-1,2022-11-23,4,32.4,2,1.810,-0.125,1,3,3,...,0.000000,1.715773,0.000000,0.000000,10.723515,0.000000,0.000000,0.000000,0.000000,0.000000
2,ab-1,2022-11-24,5,32.4,3,1.820,0.010,1,3,3,...,0.000000,1.834266,1.715773,0.000000,11.049724,10.723515,0.000000,0.000000,0.000000,0.000000
3,ab-1,2022-11-25,6,32.4,4,1.835,0.015,1,3,3,...,2.502153,1.876975,1.834266,1.715773,11.730769,11.049724,10.723515,0.000000,0.000000,0.000000
4,ab-1,2022-11-26,7,32.4,5,1.835,0.000,1,3,3,...,3.248619,2.083981,1.876975,1.834266,13.024523,11.730769,11.049724,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10481,ZO-1133,2013-07-15,10,29.0,10,1.595,0.075,1,2,1,...,3.493151,2.052213,2.054795,2.054795,12.894737,12.910959,12.910959,0.000000,0.000000,0.000000
10482,ZO-1133,2013-07-18,13,29.0,13,1.662,0.052,1,2,1,...,3.477379,2.041287,2.045517,2.045517,12.826087,12.852665,12.852665,0.000000,0.000000,0.000000
10483,ZO-1133,2013-07-21,16,29.0,16,1.680,0.020,1,2,1,...,2.597208,1.190256,1.450474,1.780829,7.439759,9.066265,11.131167,54.933735,39.951809,19.951866
10484,ZO-1133,2013-07-22,17,29.0,17,1.760,0.080,1,2,1,...,2.115409,0.933251,1.190256,1.450474,5.833333,7.439759,9.066265,74.017860,54.933735,39.951809
10485,ZO-1133,2013-07-23,18,29.0,18,1.850,0.090,1,3,1,...,1.735901,0.843214,0.933251,1.190256,4.687500,5.833333,7.439759,84.784096,74.017860,54.933735

In [13]:
var_passed = ['Peso', 'daily_weight_diff', 
              'all_cho','all_prot','all_lip',
              'VolumeNE','ne_calkg','ne_chokg', 'ne_protkg','ne_lipkg',
              'VolumeNP', 'np_calkg', 'np_chokg', 'np_protkg', 'np_lipkg']
columns_removed = ['np_protkg1', 'np_lipkg1', 'np_chokg1', 'np_calkg1',
                    'np_protkg2', 'np_lipkg2', 'np_chokg2', 'np_calkg2',
                    'np_protkg3', 'np_lipkg3', 'np_chokg3', 'np_calkg3',
                    'peso1','peso2','peso3',
                    'ne_calkg1','ne_calkg2','ne_calkg3',
                    'VolumeNP1','VolumeNP2','VolumeNP3'
                    ]

new_dataset = dataset.drop(columns=columns_removed)
display(new_dataset)

for var in var_passed:
    for i in range(1, 11):
        new_dataset[var+f'_d-{i}'] = new_dataset[var].shift(i)
        print(var+f'_d-{i}')

new_dataset.fillna(0, inplace=True)
display(new_dataset)
new_dataset.to_excel('../data/new_dataset.xlsx')

,PazienteID,Data,age,Etagest,Day_In_Hospital,Peso,daily_weight_diff,Etages_flag,Peso_flag,Peso_etr_flag,...,ne_protkg,ne_lipkg,VolumeNP,np_calkg,np_chokg,np_protkg,np_lipkg,all_cho,all_prot,all_lip
0,ab-1,2022-11-22,3,32.4,1,1.935,0.000,1,3,3,...,0.000000,0.000000,271.2,66.056961,10.723515,2.502153,1.715773,10.723515,2.502153,1.715773
1,ab-1,2022-11-23,4,32.4,2,1.810,-0.125,1,3,3,...,0.000000,0.000000,283.2,70.338242,11.049724,3.248619,1.834266,11.049724,3.248619,1.834266
2,ab-1,2022-11-24,5,32.4,3,1.820,0.010,1,3,3,...,0.000000,0.000000,300.0,72.954224,11.730769,3.025583,1.876975,11.730769,3.025583,1.876975
3,ab-1,2022-11-25,6,32.4,4,1.835,0.015,1,3,3,...,0.000000,0.000000,323.0,81.000145,13.024523,3.359266,2.083981,13.024523,3.359266,2.083981
4,ab-1,2022-11-26,7,32.4,5,1.835,0.000,1,3,3,...,0.000000,0.000000,323.0,81.000145,13.024523,3.359266,2.083981,13.024523,3.359266,2.083981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18328,ZO-1133,2013-07-19,14,29.0,14,1.660,-0.002,1,2,1,...,1.330120,1.990361,168.0,55.846779,9.066265,2.115409,1.450474,13.201205,3.445529,3.440835
18329,ZO-1133,2013-07-20,15,29.0,15,1.660,0.000,1,2,1,...,1.828916,2.736747,146.4,45.827759,7.439759,1.735901,1.190256,13.125301,3.564816,3.927003
18330,ZO-1133,2013-07-21,16,29.0,16,1.680,0.020,1,2,1,...,2.464286,3.687500,100.8,35.932426,5.833333,1.361077,0.933251,13.494047,3.825363,4.620751
18331,ZO-1133,2013-07-22,17,29.0,17,1.760,0.080,1,2,1,...,2.822727,4.223864,93.6,28.934685,4.687500,0.730227,0.843214,13.462500,3.552954,5.067078
18332,ZO-1133,2013-07-23,18,29.0,18,1.850,0.090,1,3,1,...,3.132973,4.688108,67.2,23.022625,3.729730,0.581024,0.670925,13.469189,3.713997,5.359033

Peso_d-1
Peso_d-2
Peso_d-3
Peso_d-4
Peso_d-5
Peso_d-6
Peso_d-7
Peso_d-8
Peso_d-9
Peso_d-10
daily_weight_diff_d-1
daily_weight_diff_d-2
daily_weight_diff_d-3
daily_weight_diff_d-4
daily_weight_diff_d-5
daily_weight_diff_d-6
daily_weight_diff_d-7
daily_weight_diff_d-8
daily_weight_diff_d-9
daily_weight_diff_d-10
all_cho_d-1
all_cho_d-2
all_cho_d-3
all_cho_d-4
all_cho_d-5
all_cho_d-6
all_cho_d-7
all_cho_d-8
all_cho_d-9
all_cho_d-10
all_prot_d-1
all_prot_d-2
all_prot_d-3
all_prot_d-4
all_prot_d-5
all_prot_d-6
all_prot_d-7
all_prot_d-8
all_prot_d-9
all_prot_d-10
all_lip_d-1
all_lip_d-2
all_lip_d-3
all_lip_d-4
all_lip_d-5
all_lip_d-6
all_lip_d-7
all_lip_d-8
all_lip_d-9
all_lip_d-10
VolumeNE_d-1
VolumeNE_d-2
VolumeNE_d-3
VolumeNE_d-4
VolumeNE_d-5
VolumeNE_d-6
VolumeNE_d-7
VolumeNE_d-8
VolumeNE_d-9
VolumeNE_d-10
ne_calkg_d-1
ne_calkg_d-2
ne_calkg_d-3
ne_calkg_d-4
ne_calkg_d-5
ne_calkg_d-6
ne_calkg_d-7
ne_calkg_d-8
ne_calkg_d-9
ne_calkg_d-10
ne_chokg_d-1
ne_chokg_d-2
ne_chokg_d-3
ne_chokg_d-4
ne_chokg_d-5
ne_chokg_d-6
ne_chokg_d-7
ne_chokg_d-8
ne_chokg_d-9
ne_chokg_d-10
ne_protkg_d-1
ne_protkg_d-2
ne_protkg_d-3
ne_protkg_d-4
ne_protkg_d-5
ne_protkg_d-6
ne_protkg_d-7
ne_protkg_d-8
ne_protkg_d-9
ne_protkg_d-10
ne_lipkg_d-1
ne_lipkg_d-2
ne_lipkg_d-3
ne_lipkg_d-4
ne_lipkg_d-5
ne_lipkg_d-6
ne_lipkg_d-7
ne_lipkg_d-8
ne_lipkg_d-9
ne_lipkg_d-10
VolumeNP_d-1
VolumeNP_d-2
VolumeNP_d-3
VolumeNP_d-4
VolumeNP_d-5
VolumeNP_d-6
VolumeNP_d-7
VolumeNP_d-8
VolumeNP_d-9
VolumeNP_d-10
np_calkg_d-1
np_calkg_d-2
np_calkg_d-3
np_calkg_d-4
np_calkg_d-5
np_calkg_d-6
np_calkg_d-7
np_calkg_d-8
np_calkg_d-9
np_calkg_d-10
np_chokg_d-1
np_chokg_d-2
np_chokg_d-3
np_chokg_d-4
np_chokg_d-5
np_chokg_d-6
np_chokg_d-7
np_chokg_d-8
np_chokg_d-9
np_chokg_d-10
np_protkg_d-1
np_protkg_d-2
np_protkg_d-3
np_protkg_d-4
np_protkg_d-5
np_protkg_d-6
np_protkg_d-7
np_protkg_d-8
np_protkg_d-9
np_protkg_d-10
np_lipkg_d-1
np_lipkg_d-2
np_lipkg_d-3
np_lipkg_d-4
np_lipkg_d-5
np_lipkg_d-6
np_lipkg_d-7
np_lipkg_d-8
np_lipkg_d-9
np_lipkg_d-10

,PazienteID,Data,age,Etagest,Day_In_Hospital,Peso,daily_weight_diff,Etages_flag,Peso_flag,Peso_etr_flag,...,np_lipkg_d-1,np_lipkg_d-2,np_lipkg_d-3,np_lipkg_d-4,np_lipkg_d-5,np_lipkg_d-6,np_lipkg_d-7,np_lipkg_d-8,np_lipkg_d-9,np_lipkg_d-10
0,ab-1,2022-11-22,3,32.4,1,1.935,0.000,1,3,3,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,ab-1,2022-11-23,4,32.4,2,1.810,-0.125,1,3,3,...,1.715773,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,ab-1,2022-11-24,5,32.4,3,1.820,0.010,1,3,3,...,1.834266,1.715773,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,ab-1,2022-11-25,6,32.4,4,1.835,0.015,1,3,3,...,1.876975,1.834266,1.715773,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,ab-1,2022-11-26,7,32.4,5,1.835,0.000,1,3,3,...,2.083981,1.876975,1.834266,1.715773,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18328,ZO-1133,2013-07-19,14,29.0,14,1.660,-0.002,1,2,1,...,1.780829,2.041287,2.045517,2.045517,2.052213,2.054795,2.054795,1.395721,1.543151,1.633594
18329,ZO-1133,2013-07-20,15,29.0,15,1.660,0.000,1,2,1,...,1.450474,1.780829,2.041287,2.045517,2.045517,2.052213,2.054795,2.054795,1.395721,1.543151
18330,ZO-1133,2013-07-21,16,29.0,16,1.680,0.020,1,2,1,...,1.190256,1.450474,1.780829,2.041287,2.045517,2.045517,2.052213,2.054795,2.054795,1.395721
18331,ZO-1133,2013-07-22,17,29.0,17,1.760,0.080,1,2,1,...,0.933251,1.190256,1.450474,1.780829,2.041287,2.045517,2.045517,2.052213,2.054795,2.054795
18332,ZO-1133,2013-07-23,18,29.0,18,1.850,0.090,1,3,1,...,0.843214,0.933251,1.190256,1.450474,1.780829,2.041287,2.045517,2.045517,2.052213,2.054795